:root {

    /* Color */

    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;

    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    /* Tipography */

    --title-lg: 700 56px/120% 'Asap', sans-serif;
    --title-md: 700 24px/120% 'Asap', sans-serif;
    --title-sm: 700 16px/120% 'Asap', sans-serif;

    --subtitle: 400 20px/120% 'Inconsolata', sans-serif;

    --text-md: 400 16px/140% 'Maven pro', sans-serif;
    --text-sm: 400 14px/140% 'Maven pro', sans-serif; 
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: var(--title-md);
    background: var(--gray-500);
    color: var(--gray-100);
    margin: 0 auto;
    width: 1366px;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1040px;
    border: 1px purple solid;
    text-align: center;

    > article {
        border: 1px red solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 680px;
        text-align: center;
        margin: 80px auto;

        #avatar {
            border: 2px var(--red) solid;
            border-radius: 50%;
            padding: 4px;
            width: 96px;
        }

        #avatar-container{
            position: relative;
            border: 1px solid red;
        }

        #tag {
            position: absolute;
            inset: auto 0 0 auto;
        }

        a * {
            border: 1px solid red;
        }

        > :nth-child(1) { margin-bottom: 56px;}
        > :nth-child(2) { margin-bottom: 8px; font: var(--subtitle); span { color: var(--red);}}
        > :nth-child(3) { margin-bottom: 20px; font: var(--title-lg); color: inherit;}
        > :nth-child(4) { font: var(--text-sm); color: var(--gray-300);}
    
    }

    > #button-container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: auto;
        gap: 16px;

        border: 1px solid red;
        max-width: 754px;
        margin-bottom: 94px;
        

        a {
            display: flex;
            align-items: center;
            gap: 8px;

            padding: 8px 16px;
            background: var(--gray-400);
            border-radius: 999px;

            .button-icon { width: 24px; }
            .button-name {  font: var(--text-md); color: var(--gray-200); }
        }
    }

    > #arrow-icon {
        width: 32px;
        margin-bottom: 60px;
        border: 1px red solid;
        
    }
}