@import url(./styles/variables.css);
@import url(./styles/animations.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: var(--title-md);
    background: var(--gray-500);
    color: var(--gray-100);
    margin: 0 auto;
    width: 1366px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

#main {
    background: url(./assets/images/Background_Intro.png) center / contain no-repeat;
}

main {
    text-align: center;

    > article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 680px;
        text-align: center;
        margin: 80px auto;

        > a { margin-bottom: 56px;}
        > span { margin-bottom: 8px; font: var(--subtitle); b { color: var(--red);}}
        > h1 { margin-bottom: 20px; font: var(--title-lg); color: inherit;}
        > p { font: var(--text-sm); color: var(--gray-300);}

        #avatar {
            border: 2px var(--red) solid;
            border-radius: 50%;
            padding: 4px;
            width: 96px;
        }

        #avatar-container{
            position: relative;
            
        }

        #tag {
            position: absolute;
            inset: auto 0 0 auto;
        }
    }

    > #button-container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: auto;
        gap: 16px;

        max-width: 754px;
        margin-bottom: 94px;
        

        a {
            display: flex;
            align-items: center;
            gap: 8px;

            padding: 8px 16px;
            background: var(--gray-400);
            border-radius: 999px;

            .button-icon { width: 24px; }
            .button-name {  font: var(--text-md); color: var(--gray-200); }
        }
    }

    > #arrow-icon {
        width: 32px;
        margin-bottom: 60px;
    }
}

#projects {
    margin-top: 72px;
    margin-bottom: 144px;

    span { font: var(--subtitle); color: var(--red); margin-bottom: 8px; }
    h1 { font: var(--title-md); color: var(--gray-100); margin-bottom: 56px;}
    
    .card-container .card {
            display: flex;
            flex-direction: column;

            padding: 12px;
            background: var(--gray-400);
            border-radius: 12px;
            width: 330px;

            > img { border-radius: 8px; }
            > h2 { font: var(--title-sm); color: var(--gray-100); margin: 20px 4px 8px; }
            > p { font: var(--text-sm); color: var(--gray-200); margin: 0 4px 4px; }
        }
}

.card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
}


#services {
    padding-top: 88px;
    padding-bottom: 120px;
    background: var(--gray-600);

    > span { font: var(--subtitle); color: var(--red); margin-bottom: 8px; }
    > h1 { font: var(--title-md); color: var(--gray-100); margin-bottom: 56px; }
    
    #services-card {
        display: flex;
        flex-direction: column;

        padding: 20px;
        border: 2px var(--gray-500) solid;
        border-radius: 12px;
        width: 280px;

        > img { border-radius: 8px; width: 48px};
        > h2 { font: var(--title-sm); color: var(--gray-100); margin: 20px 4px 8px; }
        > p { font: var(--text-sm); color: var(--gray-200); margin: 0 4px 0px; }
    }
}

#contacts {
    padding-top: 128px;
    padding-bottom: 200px;
    background: url(./assets/images/Background_Contacts.png) center / contain no-repeat;

    > span { font: var(--subtitle); color: var(--purple); margin-bottom: 8px; }
    > h1 { font: var(--title-md); color: var(--gray-100); margin-bottom: 8px; }
    > p { font: var(--text-md); color: var(--gray-200); margin-bottom: 48px; }

    > div {
        gap: 16px;
    
        a {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 20px;
            border-radius: 8px;
            width: 400px;
            background: var(--gray-400);

            font: var(--text-md);
            color: var(--gray-200);

            > div {
                display: flex;
                justify-content: center;
                align-items: center;

                gap: 12px;

                img {
                    width: 28px;
                }
            }

            > img {
                width: 20px;    
            }
        }

    }
}