:root {

    /* Color */

    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;

    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    /* Tipography */

    --title-lg: 700 56px/120% 'Asap', sans-serif;
    --title-md: 700 24px/120% 'Asap', sans-serif;
    --title-sm: 700 16px/120% 'Asap', sans-serif;

    --subtitle: 400 20px/120% 'Inconsolata', sans-serif;

    --text-md: 400 16px/140% 'Maven pro', sans-serif;
    --text-sm: 400 14px/140% 'Maven pro', sans-serif; 
}
